<h1>Our Achievers' comments:</h1>
<ul><% @comments.each do |comment| %>
<li><%= link_to comment.content, comment_path(comment) %> for a goal <%= link_to comment.goal.content, goal_path(comment.goal) %></li>
<% end %></ul>