<h1>Comment: <%= @comment.content %> by user: <%= link_to @comment.user.username, user_path(@comment.user) %></h1>
<h2>Goal: <%= link_to @comment.goal.content, goal_path(@comment.goal) %></h2>
<h2>Category: <%= link_to @comment.goal.category.name, category_path(@comment.goal.category) %></h2>