<h1>Our Achievers' goals (<%= @goals_count %>):</h1>
<ul><% @goals.each do |goal| %>
<li><%= link_to goal.content, goal_path(goal) %></li>
<% end %></ul>
<button><%= link_to "Create a new goal", new_goal_path(@goal) %></button>