body {
    background-color: #fafafa;
    color: #07689f;
    font-family: 'Quicksand', sans-serif;
}
a {
    color: #07689f;
}
.general {
    color: #ff7e67;
    font-weight: bold;
}
.btn {
    background-color: #ffd3b6;
    padding: 7px;
}
.btn:hover {
background-color: #a2d5f2;
}
.bl {
color: #07689f;
}
.err {
    color: #ff8c94;
}
.bl_title {
    background: linear-gradient(168deg, rgba(249,200,174,1) 0%, rgba(255,255,255,1) 100%);
    padding: 5px;
    font-size: 30px;
}
.bl_footer {
    background: linear-gradient(168deg, rgba(249,200,174,1) 0%, rgba(255,255,255,1) 100%);
}
.footer_title {
    padding: 5px;
}
.parent {
    display: flex;
    justify-content: center;
}
.child {
    padding: 10px;
    margin: auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.navi {
    text-align: right;
    background: linear-gradient(168deg, rgba(255,255,255,1) 0%, rgba(249,200,174,1) 100%);
    padding: 5px;
    font-size: 20px;
}
.welcome {
    text-align: center;
}
.search {
    text-align: right;
}