<h1 class="general">Here are <%= @category.goals.count%> goals in category: <%= @category.name %></h1>
<ul><% @category.goals.each do |goal| %>
<li>Goal - <%= link_to goal.content, category_goal_path(@category, goal) %> - has been set by user: <%= link_to goal.user.username, category_user_path(@category, goal.user_id) %></li>
<% end %></ul>