<h1>Here are goals in category: <%= @category.name %></h1>
<ul><% @category.goals.each do |goal| %>
<li><%= link_to goal.content, goal_path(goal) %> by <%= link_to goal.user.username, user_path(goal.user) %></li>
<% end %></ul>