<h1>App Stats</h1>
<p>Number of users: <%= @users_count %></p>
<p>Number of categories: <%= @categories_count %></p>
<p>Number of goals: <%= @goals_count %></p>
<p>Number of comments: <%= @comments_count %></p>