<h1>App Stats</h1>
<p>Number of users:</p><%= @users_count %>
<p>Number of categories:</p><%= @categories_count %>
<p>Number of goals:</p><%= @goals_count %>
<p>Number of comments:</p><%= @comments_count %>